<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<!-- Inertial parameters patched from SolidWorks mass properties (质量属性.md).
     Used CoM-aligned L tensor with product-of-inertia sign flip for URDF. -->
<robot
  name="marsdog">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.02697403 0.00018683 -0.00540412"
        rpy="0 0 0" />
      <mass
        value="1.43861788" />
      <inertia
        ixx="0.00181332"
        ixy="1.493e-05"
        ixz="0.00017964"
        iyy="0.00387251"
        iyz="-1.713e-05"
        izz="0.00397914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.033 0.0335 -0.0247"
        rpy="0 1.0472 0" />
      <geometry>
        <cylinder
          length="0.07"
          radius="0.032" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.033 -0.0335 -0.0247"
        rpy="0 1.0472 0" />
      <geometry>
        <cylinder
          length="0.07"
          radius="0.032" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.055 0 0.01"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.14 0.065 0.08" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.0205 0 0"
        rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder
          length="0.05"
          radius="0.04" />
      </geometry>
    </collision>
  </link>
  <link
    name="rl_hip_link">
    <inertial>
      <origin
        xyz="-0.04360674 0.01300222 0"
        rpy="0 0 0" />
      <mass
        value="0.40282962" />
      <inertia
        ixx="0.00018066"
        ixy="1.928e-05"
        ixz="0"
        iyy="0.00021966"
        iyz="0"
        izz="0.0002252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rl_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.045 0.02 0"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.07"
          radius="0.032" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rl_hip_joint"
    type="revolute">
    <origin
      xyz="-0.0530871685740839 0.0335004012032589 -0.0306494525501697"
      rpy="0 -0.523598775548837 0" />
    <parent
      link="base_link" />
    <child
      link="rl_hip_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.49"
      upper="0.77"
      effort="18"
      velocity="14.6608" />
  </joint>
  <link
    name="rl_thigh_link">
    <inertial>
      <origin
        xyz="0.00072389 -0.01711856 -0.05906162"
        rpy="0 0 0" />
      <mass
        value="0.39029186" />
      <inertia
        ixx="0.00033472"
        ixy="-6.65e-06"
        ixz="9.29e-06"
        iyy="0.00029481"
        iyz="-2.028e-05"
        izz="0.00019633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rl_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.001 -0.017 -0.059"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.065"
          radius="0.030" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rl_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.047 0.0394 0"
      rpy="1.309E-05 0.5236 0" />
    <parent
      link="rl_hip_link" />
    <child
      link="rl_thigh_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.71"
      upper="1.77"
      effort="14"
      velocity="32.9867" />
  </joint>
  <link
    name="rl_calf_link">
    <inertial>
      <origin
        xyz="-0.0178134 -0.00245 -0.03584227"
        rpy="0 0 0" />
      <mass
        value="0.02748893" />
      <inertia
        ixx="1.955e-05"
        ixy="0"
        ixz="-9.82e-06"
        iyy="2.385e-05"
        iyz="0"
        izz="6.75e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rl_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.019 0 -0.035"
        rpy="0 0.5 0" />
      <geometry>
        <box
          size="0.023 0.030 0.055" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rl_calf_joint"
    type="revolute">
    <origin
      xyz="0.00815055529011946 0.00790000000000006 -0.11883017880998"
      rpy="0 0 0" />
    <parent
      link="rl_thigh_link" />
    <child
      link="rl_calf_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.56"
      effort="14"
      velocity="32.9867" />
  </joint>
  <link
    name="rl_tarsus_link">
    <inertial>
      <origin
        xyz="-0.00132315 0.00192812 -0.02213084"
        rpy="0 0 0" />
      <mass
        value="0.03245619" />
      <inertia
        ixx="1.782e-05"
        ixy="-3.7e-07"
        ixz="1.96e-06"
        iyy="1.821e-05"
        iyz="3.09e-06"
        izz="2.15e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rl_tarsus_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.006 -0.029"
        rpy="0 0.12 0" />
      <geometry>
        <box
          size="0.014 0.020 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rl_tarsus_joint"
    type="revolute">
    <origin
      xyz="-0.038105 5E-05 -0.070342"
      rpy="0 0 0" />
    <parent
      link="rl_calf_link" />
    <child
      link="rl_tarsus_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14159265358979"
      upper="3.14159265358979"
      effort="0"
      velocity="32.9867" />
    <mimic
      joint="rl_calf_joint"
      multiplier="-1.0"
      offset="0" />
  </joint>
  <link
    name="rl_foot_link">
    <inertial>
      <origin
        xyz="0 0 -0.00351823"
        rpy="0 0 0" />
      <mass
        value="0.00282686" />
      <inertia
        ixx="7e-08"
        ixy="0"
        ixz="0"
        iyy="7e-08"
        iyz="0"
        izz="1e-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rl_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rl_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rl_foot_joint"
    type="fixed">
    <origin
      xyz="0.0029939 0.011326 -0.058227"
      rpy="0 -0.11813 0" />
    <parent
      link="rl_tarsus_link" />
    <child
      link="rl_foot_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rr_hip_link">
    <inertial>
      <origin
        xyz="-0.04360674 -0.01300222 0"
        rpy="0 0 0" />
      <mass
        value="0.40282962" />
      <inertia
        ixx="0.00018066"
        ixy="-1.928e-05"
        ixz="0"
        iyy="0.00021966"
        iyz="0"
        izz="0.0002252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rr_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.045 -0.02 0"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.07"
          radius="0.032" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rr_hip_joint"
    type="revolute">
    <origin
      xyz="-0.053087 -0.0335 -0.03065"
      rpy="0 -0.5236 0" />
    <parent
      link="base_link" />
    <child
      link="rr_hip_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.77"
      upper="0.49"
      effort="18"
      velocity="14.6608" />
  </joint>
  <link
    name="rr_thigh_link">
    <inertial>
      <origin
        xyz="0.00073574 0.01738841 -0.05957685"
        rpy="0 0 0" />
      <mass
        value="0.38566891" />
      <inertia
        ixx="0.00032072"
        ixy="6.76e-06"
        ixz="9.26e-06"
        iyy="0.00028262"
        iyz="1.58e-05"
        izz="0.00019336" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rr_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.001 0.017 -0.059"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.065"
          radius="0.030" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rr_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0470000000000001 -0.0393999999974683 0"
      rpy="1.30899691641225E-05 0.523598775561203 0" />
    <parent
      link="rr_hip_link" />
    <child
      link="rr_thigh_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.71"
      upper="1.77"
      effort="14"
      velocity="32.9867" />
  </joint>
  <link
    name="rr_calf_link">
    <inertial>
      <origin
        xyz="-0.0178134 0.00245 -0.03584227"
        rpy="0 0 0" />
      <mass
        value="0.02748893" />
      <inertia
        ixx="1.955e-05"
        ixy="0"
        ixz="-9.82e-06"
        iyy="2.385e-05"
        iyz="0"
        izz="6.75e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rr_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.019 0 -0.035"
        rpy="0 0.5 0" />
      <geometry>
        <box
          size="0.023 0.030 0.055" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rr_calf_joint"
    type="revolute">
    <origin
      xyz="0.00815055529007039 -0.00789999999999996 -0.118830178809943"
      rpy="0 0 0" />
    <parent
      link="rr_thigh_link" />
    <child
      link="rr_calf_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.56"
      effort="14"
      velocity="32.9867" />
  </joint>
  <link
    name="rr_tarsus_link">
    <inertial>
      <origin
        xyz="-0.00132315 -0.00192812 -0.02213084"
        rpy="0 0 0" />
      <mass
        value="0.03245619" />
      <inertia
        ixx="1.782e-05"
        ixy="3.7e-07"
        ixz="1.96e-06"
        iyy="1.821e-05"
        iyz="-3.09e-06"
        izz="2.15e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rr_tarsus_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.006 -0.029"
        rpy="0 0.12 0" />
      <geometry>
        <box
          size="0.014 0.020 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rr_tarsus_joint"
    type="revolute">
    <origin
      xyz="-0.0381047330872525 -4.99999999993422E-05 -0.0703422299642889"
      rpy="0 0 0" />
    <parent
      link="rr_calf_link" />
    <child
      link="rr_tarsus_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14159265358979"
      upper="3.14159265358979"
      effort="0"
      velocity="32.9867" />
    <mimic
      joint="rr_calf_joint"
      multiplier="-1.0"
      offset="0" />
  </joint>
  <link
    name="rr_foot_link">
    <inertial>
      <origin
        xyz="0 0 -0.00351823"
        rpy="0 0 0" />
      <mass
        value="0.00282686" />
      <inertia
        ixx="7e-08"
        ixy="0"
        ixz="0"
        iyy="7e-08"
        iyz="0"
        izz="1e-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rr_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/rr_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rr_foot_joint"
    type="fixed">
    <origin
      xyz="0.00299391845062902 -0.0113262512375831 -0.0582274450635127"
      rpy="0 -0.11812507471832 0" />
    <parent
      link="rr_tarsus_link" />
    <child
      link="rr_foot_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_roll_link">
    <inertial>
      <origin
        xyz="0.04070694 -0.00374882 0.00017385"
        rpy="0 0 0" />
      <mass
        value="0.35780146" />
      <inertia
        ixx="0.00013817"
        ixy="8.55e-06"
        ixz="-2.5e-07"
        iyy="0.00017797"
        iyz="1.44e-06"
        izz="0.00016983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/waist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.041 0 0"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.07"
          radius="0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_roll_joint"
    type="revolute">
    <origin
      xyz="0.0455 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="17"
      velocity="32.9867" />
  </joint>
  <link
    name="waist_pitch_link">
    <inertial>
      <origin
        xyz="0.03949017 0.02394838 -0.03756478"
        rpy="0 0 0" />
      <mass
        value="4.23177819" />
      <inertia
        ixx="0.01143907"
        ixy="-3.083e-05"
        ixz="0.00087584"
        iyy="0.01233052"
        iyz="6.88e-05"
        izz="0.01066144" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/waist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.05 0 0.01"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          length="0.07"
          radius="0.032" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.045 0.024 -0.07"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.09 0.10 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0450000000000001 -0.024 0"
      rpy="0 0 0" />
    <parent
      link="waist_roll_link" />
    <child
      link="waist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.24"
      effort="18"
      velocity="14.6608" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="0.0934864 0.00177277 -0.05980668"
        rpy="0 0 0" />
      <mass
        value="1.28140701" />
      <inertia
        ixx="0.00239015"
        ixy="7.154e-05"
        ixz="0.00100313"
        iyy="0.00290637"
        iyz="-9.495e-05"
        izz="0.00191513" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.063 0 -0.02"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.068"
          radius="0.031" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.111 0 -0.082"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.088"
          radius="0.040" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0634999999999956 0.0239999999999988 0.0227500000000019"
      rpy="0 0 0" />
    <parent
      link="waist_pitch_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.2"
      upper="1.2"
      effort="18"
      velocity="14.6608" />
  </joint>
  <link
    name="neck_pitch_link">
    <inertial>
      <origin
        xyz="0.04340968 -0.02351023 0.03039197"
        rpy="0 0 0" />
      <mass
        value="0.24748464" />
      <inertia
        ixx="0.00011721"
        ixy="2.874e-05"
        ixz="-3.093e-05"
        iyy="0.00013092"
        iyz="2.011e-05"
        izz="0.00013973" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/neck_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.043 -0.024 0.03"
        rpy="0 -1.0 0" />
      <geometry>
        <cylinder
          length="0.05"
          radius="0.028" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neck_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0634999999999999 0.0282499999999988 -0.0185"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="neck_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.58"
      upper="0.45"
      effort="18"
      velocity="14.6608" />
  </joint>
  <link
    name="head_roll_link">
    <inertial>
      <origin
        xyz="0.0298812 0.00462939 0.04106704"
        rpy="0 0 0" />
      <mass
        value="0.22511155" />
      <inertia
        ixx="7.594e-05"
        ixy="3e-08"
        ixz="5e-08"
        iyy="7.105e-05"
        iyz="2e-07"
        izz="7.144e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/head_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.03 0 0.013"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          length="0.05"
          radius="0.026" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_roll_joint"
    type="revolute">
    <origin
      xyz="0.062255555366079 -0.0291999999994765 0.0435918091625143"
      rpy="0 -0.610865238198017 0" />
    <parent
      link="neck_pitch_link" />
    <child
      link="head_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14159265358979"
      upper="3.14159265358979"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="head_yaw_link">
    <inertial>
      <origin
        xyz="-0.00193296 0.0001188 -0.01762939"
        rpy="0 0 0" />
      <mass
        value="0.22511155" />
      <inertia
        ixx="7.144e-05"
        ixy="-5e-08"
        ixz="-2e-07"
        iyy="7.594e-05"
        iyz="3e-08"
        izz="7.105e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/head_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.01"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.06"
          radius="0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0299999999999988 0 0.013"
      rpy="0 0 0" />
    <parent
      link="head_roll_link" />
    <child
      link="head_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159265358979"
      upper="3.14159265358979"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="head_pitch_link">
    <inertial>
      <origin
        xyz="0.06435141 0.00328185 0.04624769"
        rpy="0 0 0" />
      <mass
        value="0.78588222" />
      <inertia
        ixx="0.00114577"
        ixy="-3.497e-05"
        ixz="3.856e-05"
        iyy="0.00196127"
        iyz="-1.81e-05"
        izz="0.00205638" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/head_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.064 0 0.046"
        rpy="0 1.12 0" />
      <geometry>
        <cylinder
          length="0.12"
          radius="0.04" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.012999999999996 0.0299999999999988"
      rpy="0 0.610865238198016 0" />
    <parent
      link="head_yaw_link" />
    <child
      link="head_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.7"
      upper="0.5"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="fl_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.03673375 0.02373127 0"
        rpy="0 0 0" />
      <mass
        value="0.19550425" />
      <inertia
        ixx="5.209e-05"
        ixy="1.186e-05"
        ixz="0"
        iyy="7.47e-05"
        iyz="0"
        izz="8.081e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fl_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.037 0.024 0"
        rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder
          length="0.063"
          radius="0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.111344294340592 0.0412499999999985 -0.0819915230487584"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="fl_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14159265358979"
      upper="0.97"
      effort="17"
      velocity="32.9867" />
  </joint>
  <link
    name="fl_thigh_roll_link">
    <inertial>
      <origin
        xyz="0.01597399 0.01174741 -0.03872744"
        rpy="0 0 0" />
      <mass
        value="0.08017506" />
      <inertia
        ixx="0.00011818"
        ixy="-3.45e-06"
        ixz="1.228e-05"
        iyy="0.00012039"
        iyz="1.009e-05"
        izz="1.252e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fl_thigh_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.016 0.008 -0.035"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.01 0.035 0.07" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_thigh_roll_joint"
    type="revolute">
    <origin
      xyz="-0.0204999999999978 0.0255000000000006 0"
      rpy="0 0 0" />
    <parent
      link="fl_hip_pitch_link" />
    <child
      link="fl_thigh_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.18"
      upper="3.14159265358979"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="fl_calf_link">
    <inertial>
      <origin
        xyz="5.097e-05 -0.01698315 -0.03590979"
        rpy="0 0 0" />
      <mass
        value="0.41615103" />
      <inertia
        ixx="0.00059236"
        ixy="-4e-08"
        ixz="1.66e-06"
        iyy="0.00058218"
        iyz="2.36e-05"
        izz="8.194e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fl_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.013 -0.055"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          length="0.09"
          radius="0.016" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 -0.014 0"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.05"
          radius="0.023" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_calf_joint"
    type="revolute">
    <origin
      xyz="0.0204999999999997 0.00849999999999988 -0.0899999999999999"
      rpy="0 0 0" />
    <parent
      link="fl_thigh_roll_link" />
    <child
      link="fl_calf_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.82"
      upper="1.93"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="fl_tarsus_link">
    <inertial>
      <origin
        xyz="0.00051211 -0.00136997 -0.02922072"
        rpy="0 0 0" />
      <mass
        value="0.09354472" />
      <inertia
        ixx="4.444e-05"
        ixy="-6e-08"
        ixz="-1.8e-07"
        iyy="4.068e-05"
        iyz="-1.72e-06"
        izz="1.167e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fl_tarsus_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.002 -0.03"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          length="0.055"
          radius="0.018" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_tarsus_joint"
    type="revolute">
    <origin
      xyz="0 -0.0129931382700103 -0.11088651657851"
      rpy="0 0 0" />
    <parent
      link="fl_calf_link" />
    <child
      link="fl_tarsus_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.03"
      upper="1.49"
      effort="0.4119"
      velocity="9.9484" />
  </joint>
  <link
    name="fl_foot_link">
    <inertial>
      <origin
        xyz="0 0 -0.00351823"
        rpy="0 0 0" />
      <mass
        value="0.00282686" />
      <inertia
        ixx="7e-08"
        ixy="0"
        ixz="0"
        iyy="7e-08"
        iyz="0"
        izz="1e-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fl_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fl_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_foot_joint"
    type="fixed">
    <origin
      xyz="0 -0.002019916666668 -0.0591902329339155"
      rpy="0 0 0" />
    <parent
      link="fl_tarsus_link" />
    <child
      link="fl_foot_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fr_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.03673375 -0.02373127 0"
        rpy="0 0 0" />
      <mass
        value="0.19550425" />
      <inertia
        ixx="5.209e-05"
        ixy="-1.186e-05"
        ixz="0"
        iyy="7.47e-05"
        iyz="0"
        izz="8.081e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fr_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.037 -0.024 0"
        rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder
          length="0.063"
          radius="0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.111344294340584 -0.0412500000000016 -0.0819915230487582"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="fr_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14159265358979"
      upper="0.97"
      effort="17"
      velocity="32.9867" />
  </joint>
  <link
    name="fr_thigh_roll_link">
    <inertial>
      <origin
        xyz="0.01597399 -0.01174741 -0.03872744"
        rpy="0 0 0" />
      <mass
        value="0.08017506" />
      <inertia
        ixx="0.00011818"
        ixy="3.45e-06"
        ixz="1.228e-05"
        iyy="0.00012039"
        iyz="-1.009e-05"
        izz="1.252e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fr_thigh_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.016 -0.008 -0.035"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.01 0.035 0.07" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_thigh_roll_joint"
    type="revolute">
    <origin
      xyz="-0.020499999999996 -0.0254999999999991 0"
      rpy="0 0 0" />
    <parent
      link="fr_hip_pitch_link" />
    <child
      link="fr_thigh_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14159265358979"
      upper="0.18"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="fr_calf_link">
    <inertial>
      <origin
        xyz="4.915e-05 0.01698364 -0.03590979"
        rpy="0 0 0" />
      <mass
        value="0.41615103" />
      <inertia
        ixx="0.00059236"
        ixy="2e-08"
        ixz="1.59e-06"
        iyy="0.00058218"
        iyz="-2.359e-05"
        izz="8.194e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fr_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.013 -0.055"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          length="0.09"
          radius="0.016" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0.014 0"
        rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder
          length="0.05"
          radius="0.023" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_calf_joint"
    type="revolute">
    <origin
      xyz="0.0204999999999999 -0.00849999999999999 -0.0900000000000001"
      rpy="0 0 0" />
    <parent
      link="fr_thigh_roll_link" />
    <child
      link="fr_calf_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.82"
      upper="1.93"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="fr_tarsus_link">
    <inertial>
      <origin
        xyz="-4.504e-05 0.00132324 -0.03020079"
        rpy="0 0 0" />
      <mass
        value="0.0905228" />
      <inertia
        ixx="4.146e-05"
        ixy="9e-08"
        ixz="-8e-07"
        iyy="3.798e-05"
        iyz="1.84e-06"
        izz="1.14e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fr_tarsus_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.002 -0.03"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          length="0.055"
          radius="0.018" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_tarsus_joint"
    type="revolute">
    <origin
      xyz="0 0.0129931382700104 -0.11088651657851"
      rpy="0 0 0" />
    <parent
      link="fr_calf_link" />
    <child
      link="fr_tarsus_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.03"
      upper="1.49"
      effort="0.4119"
      velocity="9.9484" />
  </joint>
  <link
    name="fr_foot_link">
    <inertial>
      <origin
        xyz="0 0 -0.00351823"
        rpy="0 0 0" />
      <mass
        value="0.00282686" />
      <inertia
        ixx="7e-08"
        ixy="0"
        ixz="0"
        iyy="7e-08"
        iyz="0"
        izz="1e-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fr_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.815686274509804 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/fr_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_foot_joint"
    type="fixed">
    <origin
      xyz="-0.00112547900491583 0.00201991666666686 -0.0591795316961916"
      rpy="0 0.0190157527794673 0" />
    <parent
      link="fr_tarsus_link" />
    <child
      link="fr_foot_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="tail_yaw_link">
    <inertial>
      <origin
        xyz="-0.00733544 0 0"
        rpy="0 0 0" />
      <mass
        value="0.00601534" />
      <inertia
        ixx="3.1e-07"
        ixy="0"
        ixz="0"
        iyy="2.6e-07"
        iyz="0"
        izz="2.6e-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/tail_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.008 0 0"
        rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder
          length="0.02"
          radius="0.01" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.16074 0 0.014415"
      rpy="0 -0.24435 0" />
    <parent
      link="base_link" />
    <child
      link="tail_yaw_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3"
      upper="0.3"
      effort="6"
      velocity="10.472" />
  </joint>
  <link
    name="tail_pitch_link">
    <inertial>
      <origin
        xyz="-0.02353544 0 0"
        rpy="0 0 0" />
      <mass
        value="0.00601534" />
      <inertia
        ixx="3.1e-07"
        ixy="0"
        ixz="0"
        iyy="2.6e-07"
        iyz="0"
        izz="2.6e-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marsdog/meshes/tail_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.024 0 0"
        rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder
          length="0.04"
          radius="0.009" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.016782 0 0"
      rpy="0 0 0" />
    <parent
      link="tail_yaw_link" />
    <child
      link="tail_pitch_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.3"
      upper="0.3"
      effort="6"
      velocity="10.472" />
  </joint>
</robot>